
<div class="checkbox-container">
    <input type="checkbox" name="@Name" id="@InputId" checked="@Value" value="true" />
    <label for="@InputId">@LabelText</label>
</div>

@code {
    [Parameter] public bool Value { get; set; }
    [Parameter] public string? InputId { get; set; }
    [Parameter] public string? Name { get; set; }
    [Parameter] public string? LabelText { get; set; }
}
