@page "/Account/ResetPassword"
@using System.ComponentModel.DataAnnotations
@using System.Text
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.WebUtilities
@using Vns_Epr_Blazor_2026.Data

@inject NavigationManager NavigationManager
@inject UserManager<ApplicationUser> UserManager

<PageTitle>Reset password</PageTitle>

<div class="main-content">
    <div class="block-content">
        <div class="title">
            <div class="title-header-text">Reset password</div>
            <div class="title-content-text">Reset your password.</div>
        </div>
        <StatusMessage Message="@Message" />
        <EditForm Model="Input" FormName="resend-email-confirmation" OnValidSubmit="OnValidSubmitAsync" method="post" Context="resend">
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert" />
            <input type="hidden" name="Input.Code" value="@Input.Code" />
            <DxFormLayout CaptionPosition=@CaptionPosition.Vertical>
                <DxFormLayoutItem Caption="Email" ColSpanMd="12" BeginRow="true">
                    <InteractiveServerTextBox ShowValidationIcon="true" Name="Input.Email" Value="@Input.Email" />
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Password" ColSpanMd="12" BeginRow="true">
                    <InteractiveServerTextBox ShowValidationIcon="true" Name="Input.Password" Value="@Input.Password" Password="true" />
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="ConfirmPassword" ColSpanMd="12" BeginRow="true">
                    <InteractiveServerTextBox ShowValidationIcon="true" Name="Input.ConfirmPassword" Value="@Input.ConfirmPassword" Password="true" />
                </DxFormLayoutItem>
                <DxFormLayoutItem ColSpanMd="12" BeginRow="true">
                    <DxButton CssClass="w-100" SubmitFormOnClick="true" Text="Reset"></DxButton>
                </DxFormLayoutItem>
            </DxFormLayout>
        </EditForm>
        <div class="links-container">
            <span>Go back to <a href="Account/Login">Login Page</a>?</span>
        </div>
    </div>
</div>

@code {
    private IEnumerable<IdentityError>? identityErrors;

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = default!;

    [SupplyParameterFromQuery]
    private string? Code { get; set; }

    private string? Message => identityErrors is null ? null : $"Error: {string.Join(", ", identityErrors.Select(error => error.Description))}";

    protected override void OnInitialized() {
        if(Code is null) {
            NavigationManager.NavigateTo("Account/InvalidPasswordReset");
            return;
        }

        Input.Code = Encoding.UTF8.GetString(WebEncoders.Base64UrlDecode(Code));
    }

    private async Task OnValidSubmitAsync() {
        var user = await UserManager.FindByEmailAsync(Input.Email);
        if(user is null) {
            // Don't reveal that the user does not exist
            NavigationManager.NavigateTo("Account/ResetPasswordConfirmation");
        }
        else {
            var result = await UserManager.ResetPasswordAsync(user, Input.Code, Input.Password);
            if(result.Succeeded) {
                NavigationManager.NavigateTo("Account/ResetPasswordConfirmation");
            }

            identityErrors = result.Errors;
        }
    }

    private sealed class InputModel {
        [Required]
        [EmailAddress]
        public string Email { get; set; } = "";

        [Required]
        [StringLength(100, ErrorMessage = "The {0} must be at least {2} and at max {1} characters long.", MinimumLength = 6)]
        [DataType(DataType.Password)]
        public string Password { get; set; } = "";

        [DataType(DataType.Password)]
        [Display(Name = "Confirm password")]
        [Compare("Password", ErrorMessage = "The password and confirmation password do not match.")]
        public string ConfirmPassword { get; set; } = "";

        [Required]
        public string Code { get; set; } = "";
    }
}
