@inherits DrawerStateLayoutComponentBase
@implements IDisposable
@inject NavigationManager NavigationManager

<div class="page">
    <Drawer CssClass="navigation-drawer" PanelWidth="240px">
        <HeaderTemplate>
            <div class="navigation-drawer-header">
                <NavLink href="@AddDrawerStateToUrl("/")">
                    <img class="logo" src="images/logo.svg" alt="DevExpress logo" />
                </NavLink>
                <NavLink aria-label="Close menu" href="@AddDrawerStateToUrlToggled(LocalPath)">
                    <DxButton aria-label="Close menu" RenderStyle="ButtonRenderStyle.Light" RenderStyleMode="ButtonRenderStyleMode.Text" CssClass="btn-icon-only" IconCssClass="@(ToggledDrawer ? "icon icon-close" : "icon icon-menu")"></DxButton>
                </NavLink>
            </div>
        </HeaderTemplate>
        <BodyTemplate>
            <div class="w-100">
                <NavMenu></NavMenu>
            </div>
        </BodyTemplate>
        <FooterTemplate>
            <div class="navigation-drawer-footer">
                <span class="footer-brand">VNS ERP 2026</span>
                <span class="footer-copy">&copy; @DateTime.Now.Year VNS</span>
            </div>
        </FooterTemplate>
        <TargetContent>
            <div class="drawer-content">
                <div class="nav-buttons-container">
                    <NavLink aria-label="Open menu" href="@AddDrawerStateToUrlToggled(LocalPath)" class="menu-button">
                        <DxButton aria-label="Open menu" RenderStyle="ButtonRenderStyle.Secondary" RenderStyleMode="ButtonRenderStyleMode.Text" CssClass="btn-icon-only" IconCssClass="icon icon-menu"></DxButton>
                    </NavLink>
                    @if (LocalPath != "/") {
                        <NavLink href="@AddDrawerStateToUrl("/")" class="button-link">
                            <DxButton Text="Back to Home" RenderStyle="ButtonRenderStyle.Secondary" RenderStyleMode="ButtonRenderStyleMode.Text" CssClass="back-button" IconCssClass="icon icon-back"></DxButton>
                        </NavLink>
                    }
                    <AuthorizeView>
                        <Authorized>
                            <NavLink href="@AddDrawerStateToUrl("Account/Manage")" class="button-link menu-button-float-end display-desktop">
                                <DxButton Text="@context.User.Identity?.Name" RenderStyle="ButtonRenderStyle.Secondary" RenderStyleMode="ButtonRenderStyleMode.Text" IconCssClass="icon icon-user"></DxButton>
                            </NavLink>
                            <form action="@AddDrawerStateToUrl("Account/Logout")" method="post" class="display-desktop">
                                <AntiforgeryToken />
                                <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                                <DxButton SubmitFormOnClick="true" Text="Log out" RenderStyle="ButtonRenderStyle.Secondary" RenderStyleMode="ButtonRenderStyleMode.Text" IconCssClass="icon icon-log-out"></DxButton>
                            </form>
                        </Authorized>
                        <NotAuthorized>
                            <NavLink href="@AddDrawerStateToUrl("Account/Login")" class="button-link menu-button-float-end display-desktop">
                                <DxButton Text="Log in" RenderStyle="ButtonRenderStyle.Secondary" RenderStyleMode="ButtonRenderStyleMode.Text" IconCssClass="icon icon-log-in"></DxButton>
                            </NavLink>
                        </NotAuthorized>
                    </AuthorizeView>
                </div>
                <div class="page-content-container">
                    @Body
                </div>
            </div>
        </TargetContent>
    </Drawer>
</div>

@code {
    string LocalPath => new Uri(NavigationManager.Uri).LocalPath;

    private string? currentUrl;

    protected override void OnInitialized() {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e) {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose() {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}