@inject NavigationManager NavigationManager
@implements IDisposable

<div>
    <DxMenu Orientation="@Orientation.Vertical" CssClass="menu display-mobile">
        <Items>
            <AuthorizeView>
                <Authorized>
                    <DxMenuItem NavigateUrl="Account/Manage" Text="@context.User.Identity?.Name" CssClass="@MenuItemCssClass("/Account/Manage")" IconCssClass="icon icon-user"></DxMenuItem>
                    <DxMenuItem NavigateUrl="Account/Logout" Text="Log out" CssClass="@MenuItemCssClass("/Account/Logout")" IconCssClass="icon icon-log-out"></DxMenuItem>
                </Authorized>
                <NotAuthorized>
                    <DxMenuItem NavigateUrl="Account/Login" Text="Log in" CssClass="@MenuItemCssClass("/Account/Login")" IconCssClass="icon icon-log-in"></DxMenuItem>
                </NotAuthorized>
            </AuthorizeView>
        </Items>
    </DxMenu>
    <DxMenu Orientation="@Orientation.Vertical" CssClass="menu">
        <Items>
            <DxMenuItem NavigateUrl="/" Text="Home" CssClass="@MenuItemCssClass("/")" IconCssClass="icon icon-home"></DxMenuItem>
            <DxMenuItem NavigateUrl="/counter" Text="Counter" CssClass="@MenuItemCssClass("/counter")" IconCssClass="icon icon-counter"></DxMenuItem>
            <DxMenuItem NavigateUrl="/weather" Text="Weather" CssClass="@MenuItemCssClass("/weather")" IconCssClass="icon icon-weather"></DxMenuItem>
            <DxMenuItem NavigateUrl="Account/Manage" Text="Settings" CssClass="@MenuItemCssClass("/Account/Manage")" IconCssClass="icon icon-settings"></DxMenuItem>
        </Items>
    </DxMenu>
</div>

@code {
    private string? currentLocalPath;

    protected override void OnInitialized() {
        currentLocalPath = new Uri(NavigationManager.Uri).LocalPath;
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e) {
        currentLocalPath = new Uri(NavigationManager.Uri).LocalPath;
        InvokeAsync(StateHasChanged);
    }

    private string? MenuItemCssClass(string itemPath) {
        return string.Equals(currentLocalPath, itemPath, StringComparison.OrdinalIgnoreCase) ? "menu-item-active" : null;
    }

    public void Dispose() {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}